* text=auto eol=lf

# Exclude from language statistics
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.mjs linguist-vendored
*.cjs linguist-vendored
*.tex linguist-vendored
*.sty linguist-vendored
*.cls linguist-vendored

# Exclude AGS Script and ASL
*.asc linguist-vendored
*.dsl linguist-vendored
