[Unit]
Description=STAR Robot AP DHCP Server (dnsmasq)
Documentation=man:dnsmasq(8)
After=hostapd.service wifi-ap-setup.service
Requires=wifi-ap-setup.service
Wants=hostapd.service

[Service]
Type=forking
PIDFile=/run/dnsmasq-ap.pid
ExecStartPre=/bin/mkdir -p /var/lib/misc
ExecStart=/usr/sbin/dnsmasq --conf-dir=/etc/dnsmasq.d --pid-file=/run/dnsmasq-ap.pid --user=root --group=root
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
