[Unit]
Description=STAR Robot WiFi NAT/Routing Setup
Documentation=man:iptables(8)
After=wifi-ap-setup.service network-online.target
Requires=wifi-ap-setup.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iptables-restore /etc/iptables/rules.v4
ExecStop=/usr/sbin/iptables -t nat -F
ExecStop=/usr/sbin/iptables -F FORWARD
Restart=on-failure

[Install]
WantedBy=multi-user.target
