[Unit]
Description=WPA supplicant for wlan0 (Station Mode)
Documentation=man:wpa_supplicant(8)
After=wifi-ap-setup.service
Wants=wifi-ap-setup.service
Before=dhcpcd.service
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf -D nl80211
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
