[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = scarthgap

[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap

[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = scarthgap

[submodule "meta-java"]
	path = meta-java
	url = https://git.yoctoproject.org/meta-java
	branch = scarthgap
