[Unit]
Description=Create Virtual AP Interface (uap0)
Documentation=man:iw(8)
Before=hostapd.service dnsmasq-ap.service
After=sys-subsystem-net-devices-wlan0.device
Wants=sys-subsystem-net-devices-wlan0.device
ConditionPathExists=/sys/class/net/wlan0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/sbin/ip link set wlan0 up
ExecStartPre=/bin/sleep 1
ExecStart=/usr/sbin/iw dev wlan0 interface add uap0 type __ap
ExecStartPost=/usr/sbin/ip addr add 192.168.4.1/24 dev uap0
ExecStartPost=/usr/sbin/ip link set uap0 up
ExecStop=/usr/sbin/iw dev uap0 del
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
