# esp32-firmware/test_app/main/Kconfig.projbuild

menu "Test App Configuration"

    menu "WiFi Configuration"

        config PYNQ_WIFI_SSID
            string "WiFi SSID"
            default "myssid"
            help
                WiFi network name (SSID) to connect to

        config PYNQ_WIFI_PASSWORD
            string "WiFi Password"
            default "mypassword"
            help
                WiFi network password

        config PYNQ_WIFI_MAXIMUM_RETRY
            int "Maximum WiFi Retry Attempts"
            default 5
            help
                Maximum number of retry attempts when connecting to WiFi

    endmenu

endmenu
